/* main {
  display: flex;
   margin: auto;
   max-width: 1280px;
   gap:50px;https://i.imgflip.com/4/30b1gx.jpg
  /* background-image: url( https://imgflip.com/s/meme/Distracted-Boyfriend.jpg
  );      https://i.imgflip.com/4/30b1gx.jpg  */
/*  background-image: url(https://i.imgflip.com/8c32et.jpg);*/
main{
    max-width: 1280px;
    margin: auto;
    display: flex;
    gap: 50px;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.rightDiv{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    background-image: url(https://imgflip.com/s/meme/Distracted-Boyfriend.jpg);
    background-position: center;
    background-size: cover;
    font-size: 24px;
    align-items: end;
}
button{
   border: 40px;
   box-sizing: 30px;
   color: blue;
   
}