 <header class="bg-gray-800 text-2x1 text-white flex-col md:flex-row gap-5 justify-between py-5 px-10">
  <div class="text-3x1 animate-spin ">MyChat</div>
  <nav class="flex flex-col md:flex-row gap-5">
   <ul class="flex flex-row items-center gap-4">
    <li> <a routerLink="">Home</a></li>
      <li> <a routerLink="about">About</a></li>
        <li> <a routerLink="contact">Contact</a></li>
   </ul>
   <div class="buttons flex gap-3">
    <button class="bg-blue-800 text-white px-4 py-2 text-xl rounded">Login</button>
        <button class="bg-white text-white px-4 py-2 text-xl rounded">Signup</button>
   </div>
  </nav>
 </header>
 