footer{
    background-color: blue;
    padding: 20px;
    text-align: center;
    margin: 20px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
}