header{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    font-size: 48px;
    border-radius: 20px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}